

.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  #main-nav {
    background-color: black !important;
}
  
.navbar-brand {
    color: white !important;
}

.btn {
    background-color: black;
    color: white !important;
}

.font-italic {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal !important;
}

.nav-link, .navbar-toggler-icon {
    color: white !important;
}
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  